@import './settings.scss';
@import './normalize.scss';
@import './typography.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text-light);
  background: var(--color-background);
  font-family: var(--font-text);
  font-size: var(--base-size);
  overflow-y: scroll;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}
